@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div style="margin-top: 50px;" class="text-center">
    <hr />
    <a asp-controller="People" asp-action="Index">People</a>

    <a style="margin-left: 100px;" asp-controller="Product" asp-action="Index">Products</a>

    <a style="margin-left: 100px;" asp-controller="Category" asp-action="Index">Categories</a>
    <hr />
</div>


